@media screen and(max-width:600px) {}

html, 

body {

    text-align: center;
    background-color: black;
    color: white;
}
.welcome-section{

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000; 
}